* {
    margin: 0;
    padding: 0;
}

.top {
    flex-grow: 1;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: sans-serif;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.container {
        max-width: 1140px;
        margin: 0 auto;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.hero__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.hero__headline-1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.hero__text {
    width: 425px;
}

.hero__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.services {
    padding-top: 64px;
}

.services__headline-3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.s-list {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.s-list__item {
    display: flex;
    flex-direction: column;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 359px;
}

.s-list__item__img {
    align-self: center;
    margin-bottom: 51px;
}

.s-list__item__headline-4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.s-list__item__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.proj__headline-3 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
}

.proj__tagline {
    color: #222222;
    opacity: 1;
    width: 75%;
    margin: 32px auto 64px;
    text-align: center;
}

.proj__item {
    position: relative;
    flex-grow: 1;
}

.proj__item__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.proj__item__text-1 {
    top: 64px;
    right: 64px;
}
.proj__item__text-2-3 {
    top: 32px;
    left: 32px;
}

.proj__item__img {
    width: 100%;
}

.proj__two-items {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px;
}

.proj__item__left {
    margin-right: 32px;
}

.footer {
    background: #316099;
}

.cta__headline-3 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 340px;
    padding-top: 91px;
    padding-bottom: 32px;
}

.footer__upper {
    display: flex;
    justify-content: space-between;
}

.cta__tagline {
    color: #FFFFFF;
    width: 495px;
    padding-bottom: 96px;
}

.footer__upper__button {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    margin: auto 0;
}

.divider {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer__bottom__links {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
}

.footer__bottom_link {
    width: 317px;
}

.copyright {
    padding-bottom: 64px;
}

.copyright__text {
    color: #FFFFFF;
    opacity: 0.4;
}





/* Адаптив для горизонт. планшета*/

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .hero__info {
        background-position: right 280px;
    }
    .s-list {
        flex-direction: column;
        align-items: center;
    }
    .s-list__item {
        margin-bottom: 32px;
    }
    .proj__two-items {
        margin-bottom: 109px;
    }
    .cta__headline-3 {
        padding-top: 47px;
    }
    .cta__tagline {
        width: 336px;
        padding-bottom: 64px;
    }

    .footer__upper__button {
        padding: 3px 10px;
        width: 133px;
    }
    .footer__bottom__links {
        flex-direction: column;
    }
    .footer__container {
        padding-left: 124px;
        padding-right: 124px;
    }
    .footer__bottom_link {
        padding-bottom: 25px;
        padding-left: 45px;
        width: auto;
    }
}

/* Адаптив для горизонт. телефона*/

@media (max-width: 667px) {
    .hero__headline-1 {
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        width: 100%;
    }
    .hero__text {
        width: 100%;
        text-align: center;
    }
    .nav {
        padding-top: 24px;
    }
    .hero__info {
        padding-top: 36px;
        text-align: center;
        background-image: none;
    }
    .hero__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .header {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .services__headline-3 {
        font-size: 24px;
        line-height: 28px;
    }
    .services {
        padding-top: 48px;
    }
    .s-list {
        padding-top: 32px;
    }       
    .s-list__item {
        width: 100%;
    }
    .proj__tagline {
        width: 100%;
    }
    .proj__item__text {
        font-size: 16px;
        line-height: 19px;
    }
    .proj__item__text-1 {
        top: 16px;
        right: 16px;
    }
    .proj__item__text-2-3 {
        left: 16px;
    }
    .proj__two-items {
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 64px;
    }
    .proj__item__left {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .cta__headline-3 {
        font-size: 24px;
        line-height: 28px;
        padding-top: 18px;
        text-align: center;
    }
    .cta__tagline {
        width: 343px;
        text-align: center;
        padding-bottom: 40px;
    }
    .footer__upper__button {
        padding: 0 0;
        width: 108px;
        height: 31px;
    }
    .footer__upper {
        flex-direction: column;
        align-items: center;
        padding-bottom: 41px;
    }
    .footer__bottom__links {
        padding-top: 32px;
        padding-left: 32px;
        line-height: 18.75px;
        flex-direction: column;
    }
    .footer__bottom_link {
        padding-bottom: 17px;
        padding-left: 23px;
        width: 304px;
    }
    .footer__container {
        padding-left: 0;
        padding-right: 0;
    }
    .copyright {
        padding-bottom: 32px;
    }
    .copyright__text {
        text-align: center;
    }
}




/* Всё, что ниже - для страницы контактов */


.h2header {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.formstyling {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.buttonstyling {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}